#%RAML 1.0
title: cloud-player
baseUri: https://api.cloud-player.io
mediaType: application/json
types:
  Image:
    type: object
    properties:
      small: string
      medium: string
      large: string
  Provider:
    enum:
      - cloudplayer
      - soundcloud
      - youtube
  Account:
    type: object
    properties:
      id: string
      title: string
      image: Image
      created: datetime
      provider: Provider
      accessToken?: string
      refreshToken?: string
      accessExpiration?: datetime
  Playback:
    type: object
    properties:
      id: int
      timestamp: datetime
      progress: int
      trackId: int
      provider: Provider
      next: int
      status?:
        type: enum
          # history
          - completed
          - skipped
          # queue
          - current
          - queued
          - suggested
  Playlist:
    type: object
    properties:
      id: string
      title: string
      provider: Provider
      public: boolean
      image: Image
      followerCount: int
      account: Account
      tracks: Track[]
  Track:
    type: object
    properties:
      id: string
      provider: Provider
      title: string
      account: Account
      playCount: int
      likeCount: int
      created: datetime
      duration: int
      image: Image
  User:
    type: object
    properties:
      id: string
      accounts: Account[]
      image: Image
      created: datetime
  History:
    type: object
    properties:
      userId: string
      playbacks: Playback[]
  Queue:
    type: object
    properties:
      userId: string
      playbacks: Playback[]

/account:
  get:
    uriParameters:
      q?: string
      userId?: string
    200:
      body: Account[]
  /{id}:
    get:
      200:
        body: Account

/playlist:
  get:
    uriParameters:
      q?: string
      accountId?: string
      providerId: string
    200:
      body: Playlist[]
  post:
    body:
      application/json: Playlist
    200:
      body: Playlist

  /{id}:
    get:
      body: Playlist
    put:
      body:
        application/json: Playlist
      200:
        body: Playlist
    delete:
      204:

/track:
  get:
    uriParameters:
      q?: string
      accountId?: string
    200:
      body: Track[]
  /{id}:
    get:
      200:
        body: Track

/user:
  /{id}:
    get:
      200:
        body: User

/history:
  /{id}:
    get:
      200:
        body: History

/queue:
  /{id}:
    get:
      200:
        body: Queue

/youtube:
  description: Authorization endpoint to login with youtube
  get:
    302:
      description: Redirects to youtube oauth login prompt
    200:
      description: Callback endpoint that shows a popup closer

/soundcloud:
  description: Authorization endpoint to login with soundcloud
  get:
    302:
      description: Redirects to soundcloud oauth login prompt
    200:
      description: Callback endpoint that shows a popup closer
