swagger: '2.0'
info:
  version: '1.0'
  title: Cloud-Player API
  description: 'rest and websocket backend services'
host: api.cloud-player.io
basePath: /
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /account/{provider_id}/{id}:
    get:
      operationId: AccountEntityGet
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Account'
    parameters:
    - description: Account provider ID
      in: path
      name: provider_id
      required: true
      type: string
    - description: Account ID
      in: path
      name: id
      required: true
      type: string
  /history/{id}:
    get:
      operationId: HistoryByIdGet
      parameters:
      - description: ''
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/History'
  /playlist:
    get:
      operationId: PlaylistGet
      parameters:
      - description: ''
        in: path
        name: provider_id
        required: true
        type: string
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Playlist'
            type: array
    post:
      operationId: PlaylistPost
      parameters:
      - description: ''
        in: path
        name: provider_id
        required: true
        type: string
      - description: ''
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Playlist'
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Playlist'
  /playlist/{playlist_provider_id}/{playlist_id}/{id}:
    delete:
      operationId: PlaylistByIdDelete
      parameters:
      - description: ''
        in: path
        name: provider_id
        required: true
        type: string
      - description: ''
        in: path
        name: id
        required: true
        type: string
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '204':
          description: ''
    get:
      operationId: PlaylistItemEntityGet
      parameters:
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PlaylistItem'
    parameters:
    - description: Playlist Provider ID
      in: path
      name: playlist_provider_id
      required: true
      type: string
    - description: Playlist ID
      in: path
      name: playlist_id
      required: true
      type: string
    - description: Playlist Item ID
      in: path
      name: id
      required: true
      type: string
    put:
      operationId: PlaylistByIdPut
      parameters:
      - description: ''
        in: path
        name: provider_id
        required: true
        type: string
      - description: ''
        in: path
        name: id
        required: true
        type: string
      - description: ''
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Playlist'
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Playlist'
  /queue/{id}:
    get:
      operationId: QueueByIdGet
      parameters:
      - description: ''
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Queue'
  /soundcloud:
    get:
      operationId: SoundcloudGet
      parameters: []
      produces:
      - application/json
      responses:
        '200':
          description: Callback endpoint that shows a popup closer
  /track:
    get:
      operationId: TrackGet
      parameters:
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/Track'
            type: array
  /track/{id}:
    get:
      operationId: TrackByIdGet
      parameters:
      - description: ''
        in: path
        name: id
        required: true
        type: string
      - description: ''
        in: path
        name: q
        required: true
        type: string
      - description: ''
        in: path
        name: account_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Track'
  /user/{id}:
    get:
      operationId: UserByIdGet
      parameters:
      - description: ''
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/User'
  /youtube:
    get:
      operationId: YoutubeGet
      parameters: []
      produces:
      - application/json
      responses:
        '200':
          description: Callback endpoint that shows a popup closer
definitions:
  Account:
    properties:
      created:
        description: ''
        format: date-time
        type: string
      id:
        description: ''
        type: string
      image:
        $ref: '#/definitions/Image'
      provider:
        $ref: '#/definitions/Provider'
      provider_id:
        $ref: '#/definitions/Provider/properties/id'
      title:
        description: ''
        type: string
      updated:
        description: ''
        format: date-time
        type: string
    required:
    - id
    - title
    - image
    - created
    - updated
    - provider
    title: Account
    type: object
  History:
    properties:
      playbacks:
        description: ''
        items:
          $ref: '#/definitions/Playback'
        type: array
      user_id:
        description: ''
        type: string
    required:
    - user_id
    - playbacks
    title: History
    type: object
  Image:
    properties:
      id:
        description: ''
        type: string
      large:
        description: ''
        type: string
      medium:
        description: ''
        type: string
      small:
        description: ''
        type: string
    required:
    - id
    - small
    - medium
    - large
    title: Image
    type: object
  Playback:
    properties:
      id:
        description: ''
        format: int32
        type: integer
      next:
        description: ''
        format: int32
        type: integer
      progress:
        description: ''
        format: int32
        type: integer
      provider:
        $ref: '#/definitions/Provider'
      status:
        $ref: '#/definitions/Status'
      timestamp:
        description: ''
        format: date-time
        type: string
      track_id:
        description: ''
        format: int32
        type: integer
    required:
    - id
    - timestamp
    - progress
    - track_id
    - provider
    - next
    title: Playback
    type: object
  Playlist:
    properties:
      account:
        $ref: '#/definitions/Account'
      follower_count:
        description: ''
        format: int32
        type: integer
      id:
        description: ''
        type: string
      image:
        $ref: '#/definitions/Image'
      provider:
        $ref: '#/definitions/Provider'
      public:
        description: ''
        type: boolean
      title:
        description: ''
        type: string
      tracks:
        description: ''
        items:
          $ref: '#/definitions/Track'
        type: array
    required:
    - id
    - title
    - provider
    - public
    - image
    - follower_count
    - account
    - tracks
    title: Playlist
    type: object
  PlaylistItem:
    properties:
      id:
        description: Playlist item ID
        type: string
      playlist_id:
        $ref: '#/definitions/Playlist/properties/id'
      playlist_provider_id:
        $ref: '#/definitions/Provider/properties/id'
      rank:
        description: Playlist item rank
      track_id:
        $ref: '#/definitions/Track/properties/id'
      track_provider_id:
        $ref: '#/definitions/Provider/properties/id'
    required:
    - id
    - playlist_id
    - playlist_provider_id
    - rank
    - track_provider_id
    - track_id
    title: PlaylistItem
    type: object
  Provider:
    properties:
      id:
        description: Provider ID
        type: string
    title: Provider
    type: object
  Queue:
    properties:
      playbacks:
        description: ''
        items:
          $ref: '#/definitions/Playback'
        type: array
      user_id:
        description: ''
        type: string
    required:
    - user_id
    - playbacks
    title: Queue
    type: object
  Status:
    enum:
    - completed
    - skipped
    - current
    - queued
    - suggested
    type: string
  Track:
    properties:
      account:
        $ref: '#/definitions/Account'
      aspect_ratio:
        description: ''
        format: double
        type: number
      created:
        description: ''
        format: date-time
        type: string
      duration:
        description: ''
        format: int32
        type: integer
      favourite_count:
        description: ''
        format: int32
        type: integer
      id:
        description: ''
        type: string
      image:
        $ref: '#/definitions/Image'
      play_count:
        description: ''
        format: int32
        type: integer
      provider:
        $ref: '#/definitions/Provider'
      title:
        description: ''
        type: string
    required:
    - id
    - provider
    - title
    - account
    - play_count
    - favourite_count
    - aspect_ratio
    - created
    - duration
    - image
    title: Track
    type: object
  User:
    properties:
      accounts:
        description: ''
        items:
          $ref: '#/definitions/Account'
        type: array
      created:
        description: ''
        format: date-time
        type: string
      id:
        description: ''
        type: string
      updated:
        description: ''
        format: date-time
        type: string
    required:
    - id
    - accounts
    - created
    - updated
    title: User
    type: object